<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PandemicPub</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/estilo.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>
<body class="bg-whiteblue">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand text-light" asp-action="index" asp-controller="produto">
            <img src="~/imagens/logo.png" height="50" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @if(!string.IsNullOrEmpty(ViewBag.UserName)){
            <a class="nav-item active nav-link text-light" href="dashboard">Dashboard</a>
            <form class="form-inline ml-auto" style="display: @ViewBag.LogoutVisible">
                <span class="small text-light"><b>Bem vindo, </b>@Html.Raw(@ViewBag.UserName)</span>            
                <a href="/logout"><i class="material-icons btn btn-outline-dark my-2 my-sm-0 text-light">exit_to_app</i></a>            
            </form>
            }
            else
            {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/login">Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/nova-conta">Cadastro</a>
                </li>
            </ul>
            }
        </div>  
    </nav>        
    @RenderBody()
</body>
</html>